{% extends "@admin-module/views/layouts/main.twig"%}

{% block title_area %}
    {{ "label.add_new"|trans([entity.slug|trans({},"admin")|lower],"admin") }}
{% endblock %}

{% block page_body %}
    <div class="wrapper wrapper-content animated fadeIn model-update">
        <div class="row">
            <div class="col-md-12">
                {{
                    this.render(form.viewFile ? form.viewFile : '_form.twig',{
                        'model' : model,
                        'entity' : entity,
                        'form' : form,
                        'buttonsEntity' : buttonsEntity,
                        'mode': 'create'
                    })|raw
                }}
            </div>
        </div>
    </div>
    
{% endblock page_body %}