{% extends "@admin-module/views/layouts/main.twig"%}

{% block page_body %}
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="ibox float-e-margins">
                {{ htmlGrid|raw }}
        </div>
    </div>
{% endblock page_body %}