{% extends "@admin-module/views/layouts/main.twig"%}

{% block action_area %}
    <div class="btn-group">
        <button type="button" class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ "label.actions"|trans({},"admin") }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {% for button in buttons %}
              <li>{{ button|raw }}</li>
          {% endfor %}
        </ul>
      </div>
{% endblock action_area %}

{% block page_body %}
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="ibox float-e-margins">
                {{ htmlGrid|raw }}
        </div>
    </div>
{% endblock page_body %}