{% extends "@admin-module/views/layouts/main.twig"%}

{% block title_area %}
    {{ entity.slug|trans({},"admin") }}
{% endblock %}

{% block page_body %}
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="ibox float-e-margins">
                {{ content|raw }}
        </div>
    </div>
{% endblock page_body %}